<div class="home-bread--importance">
    <h1 class="home-bread--title">El pan nuestro de cada día...</h1>
    <p>El pan pertenece al grupo de los cereales, que son el tipo de alimentos nutricionalmente más completos, de los más baratos e inamovibles de la pirámide nutricional.
        
        Proporciona al organismo parte de la energía que éste necesita, particularmente para el cerebro y el sistema nervioso. 
        
        Contiene poca grasa, por lo que es idóneo para aportar a nuestra dieta los hidratos de carbono que necesitamos con una mínima ingesta de lípidos.</p>
</div>

