$pan-color: #FFE6CC;
$font-color: #4B4B4B;
$font-family: 'Nunito', Arial, Helvetica, sans-serif;

.home-bread-what {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $pan-color;
  padding: 30px 40px;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .home-bread--what-title {
    font-family: $font-family;
    font-weight: 700;
    font-size: 32px;
    color: $font-color;
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    color: $font-color;
    line-height: 1.6;
    text-align: center;
  }

  .paragraph-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }
  }
}

