$pan-color: #FFE6CC; 
.home-bread-what {
    justify-content: center;
    background-color: $pan-color;
    padding: 30px 40px;
}
.home-bread--what-title {
    font-family:Arial, Helvetica, sans-serif;
}
p {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
}

