<div class="home-bread-what">
  <h1 class="home-bread--what-title">EL PAN, UN ALIMENTO MILENARIO</h1>
  <p>
    El pan es uno de los alimentos más antiguos y populares del mundo, consumido
    por personas de todas las culturas y clases sociales. Desde la época de los
    antiguos egipcios hasta nuestros días, el pan ha sido una fuente importante
    de carbohidratos y nutrientes esenciales en la dieta humana. Además de ser
    un alimento básico en muchas culturas, el pan también tiene una gran
    variedad de formas y sabores, desde la baguette francesa hasta el pan de
    pita mediterráneo y el pan de maíz americano. En esta presentación
    exploraremos la historia y la versatilidad del pan, y veremos cómo este
    alimento esencial se ha adaptado a diferentes culturas y gustos culinarios.
  </p>
</div>
