<div class="about-me">
  <h1 class="about-me--title">Vanina</h1>
  <h2 class="about-me--title2">Estudiante de Bootcamp FullStack</h2>
  <p>
    Soy Vanina y actualmente estoy cursando un Bootcamp FullStack. 
    Este proyecto es parte del proceso de aprendizaje de Angular.
  </p>
  
  <a href="https://docs.angular.lat/" class="about-me--more-info">Sobre Angular</a>
  <a href="https://www.upgrade-hub.com/" class="about-me--more-info">Upgrade-Hub</a>

  <img src="assets\images\vanina.jpg" alt="Vanina" class="paragraph-image" />
  
</div>
